{% extends 'materials/index.html' %}

{% load static %}

{% block content %}

  <h2>CSV file upload to DB</h2>
  <form method="post" enctype="multipart/form-data">
       {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  <div class="content-items">
  {% if uploaded_materials %}

    <ul>
    {% for material in uploaded_materials %}
        <li>{{ material }}</li>
    {% endfor %}
    </ul>

  {% endif %}
  </div>

  {% if error_message %}
      <p> {{ error_message }} </p>
  {% endif %}

{% endblock %}